*{
    box-sizing: border-box;
}
.devimage{
    text-align: center;
    display: flex;
    background-color: black;
    color: wheat;
    font-weight: 700;
    
}
.p1{

    padding-top: 300px;
    font-size: xx-large;
    padding-left: 100px;

}
h1{
    text-align: center;
    padding: 50px;
}
#section2{
    background-color: burlywood;
}
.aboutme{
    text-align: center;
}
.first{
    margin-left: 200px;
}
.web{
    font-style: italic;
    font-size: large;
}
 .image1{
    padding-left: 40%;

}
.card-title{
    text-align: center;
    padding-top: 20px;
}
.card-body{
    height: 350px;
    justify-content: space-between;
    padding: 20px;
}
.col1{
    
    margin-right: 20px;
    margin-left: 150px;
}
.col3{
   
    margin-left: 20px;
}
.col2{
    padding-right: 20px;
}
.card-text{
    padding: 20px;
}
#section3{
    background-color: aliceblue;

}
.right{
width: 200px;
}
.projects{
    display: flexbox;
} 
.contacts{
    padding: 20px;
    padding-left: 20px;
    
}
.left{
    width: 50px;
}
.me{
    padding-left: 30%;
}