*{
    box-sizing: border-box;
}
.section1{
    text-align: center;
    display: flex;
    background-color: black;
    color: aqua;
}
p{
    padding: 100px;
    padding-top: 300px;

}
.first{
    margin-left: 200px;
}
.web{
    font-style: italic;
}
.image{
    float: right;
}
.card-title{
    text-align: center;
    padding-top: 20px;
}
.card-body{
    height: 350px;
    justify-content: space-between;
    padding: 20px;
}
 .card-group {
    /* background-color: black; */
}   
.card1{
    border: 1px solid greenyellow;
    margin-right: 20px;
    margin-left: 150px;
}
.card3{
    border: 1px solid greenyellow;
    margin-left: 20px;
}
.card2{
    border: 1px solid greenyellow;
    padding-right: 20px;
}
.card-text{
    padding: 20px;
}